/*
    channel.html 이 완료되지 않아 피그마의 레이어 명으로 클래스를 명명했습니다.
    video 페이지에서는 nav 제외하고 section 부분을 channel-container로 두고 점점 작은 단위로 쪼갰습니다.
    html div 와 비교해서 세부 조정이 필요할 것 같습니다.
*/
/*
    Video_Desc_in_Video-Desc 하위카테고리에 같은 이름이 있을시 in으로 표시
    /는 클래스이름으로 사용못하기때문에 _로 표시
    대문자_대문자 구조 in의 i는 소문자로
*/
/*
    Channel_Container는 피그마의 Channel_in_Channel입니다
*/

#Main_Page{   /* channel 페이지의 전체 section (nav & sidebar 제외) */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    background: #181818;
    padding-bottom: 0px;
}


/* 이 아래부터는 channel.html 작업 끝나면 세부적으로 조정해주세요 */
#Channel_Cover {    /* .channel-container의 하위 3번 */
    width: 100%;
    height: 25%;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    justify-content: space-between;
}
#Channel_Cover img{
    width: 100%;
    height: 192px;
    object-fit: cover;
}

#Purple {
    margin-top: 56px;
    margin-left: 240px;
    padding-bottom: 200px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    color: #fff;

}

#Channeltitle {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 16px 65px 4px 65px;
    justify-content: space-between;
    box-sizing: border-box;
}

#Channelprofile {
    display: flex;
    align-items: center;
}

.Channelprofile_icon{/*Channel-Title의 하위 1번 Channel_Profile의 하위 1번*/
    background-color: grey;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 24px;
}
.info{/*Channel-Title의 하위 1번 Channel_Profile의 하위 2번*/
    display: flex;
    padding: 18px 0px;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
}

.info .Channelprofile_name {
    font-size: 24px;
    color: #fff;
}

.info .Channelprofiile_subscribers{
    font-size: 14px;
    color: #AAA;
}
.Subscribers{/*Channel-Title의 하위 2번*/
    display: flex;
    padding: 22px 4px;
    align-items: flex-start;
}
.Subscribers-options{/*Channel-Title의 하위 2번 Channel_Subscribes_Btn의 하위*/
    padding: 10px 16px;
    border-radius: 2px;
    background: #C00;
    color: #fff;
    cursor: pointer;
}

#Channeltoolbar {    /* .channel-content의 하위 1번 */
    width: 100%;
    padding: 0 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .Toolbars{  /* .channel-content의 하위 1번 Channel-Toolbar의 하위 1번*/
    /* display: flex;
    align-items: flex-start;
} */
.Channeltoolbar{/* .channel-content의 하위 1번 Channel-Toolbar의 하위 1번 Toolbars의 하위*/
    display: flex;
    align-items: flex-start;
    padding:0 64px;
    flex-direction: row;
    flex-wrap: nowrap;
}
.Channeltoolbar-option{ /* .channel-content의 하위 1번 Channel-Toolbar의 하위 1번 Toolbars의 하위 Toolbar_Menu의 하위 1번*/
    background-color: transparent;
    font-size: 14px;
    font-weight: 700;
    padding: 16px 32px;
    color: #fff;
    border-top: none;
    border-right: none;
    border-left: none;
}

.CHanneltoolbar-option{ /* .channel-content의 하위 1번 Channel-Toolbar의 하위 1번 Toolbars의 하위 Toolbar_Menu의 하위 1번*/
    background-color: transparent;
    font-size: 14px;
    font-weight: 700;
    padding: 16px 32px;
    color: #AAAAAA;
    border-top: none;
    border-right: none;
    border-left: none;
}

#Smallplayer {    /* .channel-content의 하위 2번 */
    width: 100%;
    height: 504px;
    padding: 24px 287px 24px 65px;
    display: inline-flex;
    align-items: flex-start;
    flex-direction: row;
    background-color: #181818;
    box-sizing: border-box;
    justify-content: flex-start;

}
.Smallplyer{/*Smal_Video의 하위 1번*/
    display: flex;
    padding-right: 24px;
    flex-direction: column;
    align-items: flex-start;    
    gap: 10px;   
}
.Smallplayer-info{
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 240px;
    padding-top: 30px;
    padding-bottom: 80px;
}

.Smallplayer-info .Smallplayer-info-title{
    color: var(--white-color, #fff);
    font-variant-numeric: stacked-fractions;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.14px;
    padding-bottom: 10px;
    gap: 10px;
}

.Smallplayer-info-view{
    color: #AAA;
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 10px;
}

.Smallplayer-info .Smallplayer-info-text{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
    line-height: 20px;
}

#Playlist{
    display: flex;
    padding: 0px 65px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #181818;

}
#Playlist-title {    /* .channel-content의 하위 3번 */
    width: 100%;
    height: 30%;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0px 65px 0px 65px;
}

#Playlist-icon {    /* .channel-content의 하위 4번 */
    width: 100%;
    height: 30%;
    color: #aaa;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0px 65px 0px 65px;
}
