/*
    channel.html 이 완료되지 않아 피그마의 레이어 명으로 클래스를 명명했습니다.
    video 페이지에서는 nav 제외하고 section 부분을 channel-container로 두고 점점 작은 단위로 쪼갰습니다.
    html div 와 비교해서 세부 조정이 필요할 것 같습니다.
*/

.channel-container {   /* channel 페이지의 전체 section (nav & sidebar 제외) */
    width: 80%;
    height: 100%;
}

.channel-cover {    /* .channel-container의 하위 1번 */
    width: 100%;
    height: 20%;
    background-image: url("./image/Channel/Cover.svg");
}

/* 이 아래부터는 channel.html 작업 끝나면 세부적으로 조정해주세요 */

.channel-title {    /* .channel-container의 하위 2번 */
    width: 100%;
    height: 10%;
    padding: 16px 65px 0px 65px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.channel-content {    /* .channel-container의 하위 3번 */
    width: 100%;
    height: 70%;
}

.channel-toolbar {    /* .channel-content의 하위 1번 */
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0px 65px 0px 65px;
}

.small-video {    /* .channel-content의 하위 2번 */
    width: 100%;
    height: 35%;
    padding: 24px 287px 24px 65px;
}

.play-list-one {    /* .channel-content의 하위 3번 */
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0px 65px 0px 65px;
}

.play-list-two {    /* .channel-content의 하위 4번 */
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0px 65px 0px 65px;
}