@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');


/*
폰트 적용 다른 방법 @html
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
html 최적화 측면에서 속도가 더 빠름
*/

html, body {
    width: 100%;
    height: 100%;
}
:root {
    /* color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-light-color: #e0e0e0;

    /* size */
    --padding-sidebar: 8px 8px 8px 24px;
    --avatar-size: 36px;

    /* font size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

.div-flex-row {  /* --> Orange, Yellow, Blue, Purple */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.div-flex-column {  /* --> Red, Green, Skyblue */ 
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Youtube_Page {
    width: 100%;
    height: 100%;
    background-color: #000;
    /* border: 1px solid red; */
}

#Nav {
    /* border: 1px solid orange; */
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    height: 56px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #212121;
  }
/*youtube 로고 버튼*/
#nav_but{
    display: inline-flex;
    padding-right: 0px;
    align-items: center;
}
/*상단 검색창 메인블럭*/
#nav_searchBox{
    display: flex;
    width: 470px;
    height: 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    flex-shrink: 0;
    
}
/*상단 검색창*/
#nav_search_Box_Area{
    display: flex;
    width: 470px;
    height: 40px;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
}
/*상단 검색창 서브블럭*/
#nav_search_Box{
    width: 362px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 2px 0px 0px 2px;
    background: #121212;
}
/*상단 Profile 메인블럭*/
#nav_Profile{
    display: flex;
    width: 204px;
    height: 40px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
}
/*profile 사진*/
#nav_profile{
    display: flex;
    padding: 4px 14px;
    align-items: flex-start;
    gap: 10px;
}
#nav_pic img{
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
}
/*상단바 profile-notifications*/
#nav_notifications{
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 10px;
}
#nav_notifications img{
    width: 24px;
    height: 24px;
}
/*상단바 profile-apss*/
#nav_apps{
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 10px;
}
#nav_apps img{
    width: 24px;
    height: 24px;
}
/*상단바 profile-create*/
#nav_create{
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 10px;
}
#nav_create img{
    width: 24px;
    height: 24px;
}

#nav_but,
#nav_searchBox,
#nav_profile {
    display: flex;
    align-items: center;
    background-color: #212121;
}


/* hamburger 아이콘 */
#nav_but_icon{
    border: none;
    padding: 5px 10px;
    background-color: transparent;
    cursor: pointer;
    line-height: 5px;
}

#nav_but_icon span{
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    background: #979797;
}

#nav_but_icon span:nth-child(1){
    top: 0;
}

#nav_but_icon span:nth-child(3){
    top: 100%;
}

/* #nav_but_icon{
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 10px;
    width: 20px;
    height: 10px;
    position: relative;
    cursor: pointer;
} */
#nav_but_icon img{
    width: 24px;
    height: 24px;
}

/* youtube 아이콘 */
#nav_but_Logo {
    display: flex;
    padding: 18px 14px 18px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;   
}
#nav_but_Logo img{
    width: 90px;
    height: 20px;
    padding: 5px 10px;
    cursor: pointer;

}
/*상단 검색창 -> 아래 검색 입력란과 중복 적용되어 주석처리*/
#nav_search_Place {
    /* width: 85%;
    height: 100%;
    border: 2px solid #dbdbdb;
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize; */
}

/* 검색 입력란 스타일링 */
#search_input {
    width: 360px;
    height: 32px;
    border: 1px solid #303030;
    background-color: #121212;
    font-size: 16px;
    padding: 3px 8px;
}

/* 상단 search 아이콘 박스*/
#nav_search_Box_But_icon{
    border: 1px solid #303030;
    background-color: #303030;
    border-left: none;
    height: 32px;
    width: 45px;
    padding: 3px 8px;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*search 아이콘*/
#nav_search_Box_But_icon img{
    width: 24px;
    height: 24px;
}

/*mic 아이콘*/
#nav_search_mic_icon{
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    background: var(--black, #000);
}
#nav_search_mic_icon img{
    width: 24px;
    height: 24px;
}

#nav_profile img{
    display: flex;
    padding: 4px 4px;
    align-items: flex-start;
    /* gap: 10px; */
}

#View_Page {
    margin-top: 56px;
    width: 100%;
    /* height: 100%; */
    display: flex;
    /* flex-wrap: wrap; */
    /* position: relative; */
    justify-content: space-between;
  }

/* sidebar 스크롤바 숨김 */
::-webkit-scrollbar {
    display:none;
}

#Sidebar {
    /* border: 1px solid green; */
    width: 260px;
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 0;
    padding: 12px 0;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    background-color: #212121;
    color: #fff;
    z-index: 1;
}

.sidebar__section__link {
    display: flex;
    color: #fff;
    text-decoration: none;
    align-items: center;
    font-size: 14px;
    padding: 0 20px;
    height: 40px;
}

.sidebar__section__link img {
    margin-right: 10px;
    border-radius: 50%;
}

#Sid_Top {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    padding: 8px 0px;
    border-bottom: 1px solid #303030;
}

#Sid_Top-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #303030;
}

#Sid_Subscrip{
    display: flex;
    /* padding-top: 12px; */
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #303030;
}

#Sid_More-From {
    display: flex;
    /* padding-top: 12px; */
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    padding: 8px 24px;
    font-size: 13px;
    color: #AAAAAA;
}

/* #Sidebar > hr {
    border: none;
    height: 1px;
    background-color: #303030;
} */

/* 사이드 배 내부에있는 버튼들 */
/* #links {
    display: block;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #242424;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
} */

#nav_Btu {
        display: flex;
    padding-top: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

#nav_Footer {
    display: flex;
    width: 224px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#Main_Page {
    width: 90%;
    height: 100%;
    margin-left: 253px ;
    background-color: #000;
}

#Top_Menu {
    width: 100%;
}

.Top_Menu {
    border-top: 1px solid #303030;
    border-bottom: 1px solid #303030;
    width: 100%;
    height: 56px;
    background-color: #212121;
    padding: 0 20px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}
.Top_Menu-options.active{
    background-color: white;
    color: #030303;
}
.Top_Menu-options:first-child {
    margin-left: 50px;
}
.Top_Menu-options{
    border: 1px solid #aaa;
    background-color: #303030;
    color: #fff;
    font-size: 14px;
    padding: 0 12px;
    line-height: 30px;
    border-radius: 16px;
    margin: 12px 12px 12px 0;
    cursor: pointer;
}
/* .Frame12 */
#Video_Container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #000;
    color: white;
} 
#Video_Container > div{
    margin: 10px;
}

/* Thumbnail */
.Thumbnail{
    display: flex;
    width: 1151px;
    height: 1395px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
}
/* Thumbnail/Row */
.Thumbnail_Row{
    display: flex;
    width: 1151px;
    height: 247px;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
}
/* Thumbnail/Row/Thumbnail-Item */
.thumbnail_item{
    display: flex;
    width: 276px;
    height: 247px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}
/* Thumbnail/Images */
.thumbnail_images{
    width: 276px;
    height: 155px;
    flex-shrink: 0;
}
/* thumbnail_images 동일명 하위폴더 + under */
.thumbnail_images_under{
    display: flex;
    width: 276px;
    height: 155px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;    
}
/* VideoTime */
.VideoTime{
    display: inline-flex;
    padding: 3px 4px;
    align-items: flex-start;
    gap: 10px;
    background: var(--black, .000);
}
/* VideoTime_text */
.VideoTime_text{
    color: var(--white-color, #FFF);
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* thumbnail */
.thumbnail{
    display: flex;
    width: 252px;
    height: 74px;
    align-items: flex-start;
    flex-shrink: 0;
}
/* thumbnail-profile-pic */
.thumbnail_profile_pic{
    display: flex;
    /* padding: 12px 12px 26px 0px; */
    align-items: flex-start;
    gap: 10px;    
    border-radius: 50%;
    margin-top: 12px;
    margin-right: 12px;
    width: 30px;
    height: 30px;
}
/* User-avatar */
.User_avatar{
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
}
/* User_Avatar 동일명 하위폴더 + under */
.User{
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
/* thumbnail-desc */
.thumbnail_desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}
/* thumbnail_desc_title */
.thumbnail_desc_title{
    display: flex;
    padding-top: 12px;
    align-items: flex-start;
    font-weight: 700;
    gap: 10px;
}
/* thumbnail_desc_title_text */
.thumbnail_desc_title_text{
    width: 204px;
    color: var(--white-color, #FFF);
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
}
.thumbnail_desc_info{
    text-decoration: none;
    color: var(--gray-color, #AAA);
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Chanel_name */
.Chanel_name{
    color: var(--gray-color, #AAA);
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* Time */
.Time{
    color: var(--gray-color, #AAA);
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}