/*
    Video_Desc_in_Video-Desc 하위카테고리에 같은 이름이 있을시 in으로 표시
    /는 클래스이름으로 사용못하기때문에 _로 표시
    대문자_대문자 구조 in의 i는 소문자로
*/

/* .Video_Container {
    width: 100%;
    height: 100%;
    padding: 0px 164px 0px 162px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.View_Page_3 {
    width: 100%;
    height: 100%;
    margin-top: 56px;
    display: flex;
    background-color: black;
}

.Primary {   /* video-container의 하위 1번 */
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;

    box-sizing: border-box;
}

/* #video_Page {
    width: 100%;
    height: 100%;
    background-color: black;
} */

.Video_player {   /* primary의 하위 1번 */
    width: 100%;
    /* height: 45%; */
    padding-top: 40px;
}

.Youtube_Player{ /* primary의 하위 1번 Video-player 하위 1번*/
    width: 640px;
    height: 360px;
    flex-shrink: 0;
}

.Youtube_Player video {
    width: 100%;
    height: 100%;
}

.Video_Info {/*(VideoPlayer) primary의 하위 1번 Video-player 하위 2번*/
    display: flex;
    width: 640px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.Video_Info_Video_Info{ /*(VideoPlayer) primary의 하위 1번 Video-player 하위 Video_Info의 Info*/
    display: flex;
    width: 100%;
    padding: 8px 8px 30px 8px;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #4b4b4b;
}
.Video_Info_Info{ /*(VideoPlayer) primary의 하위 1번 Video-player 하위 Video_Info의 Info*/
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    /* gap: 120px; */
}
.Video_Info_Title{ /* primary의 하위 1번 Video-player 하위 Video-Info 하위 제목 텍스트 */
    color: var(--white-color, #FFF);
    font-variant-numeric: stacked-fractions;
    font-feature-settings: 'hlig' on, 'dlig' on;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
}
.Video_Info_text{
    display: flex;
    padding: 12px 0px;
    align-items: flex-start;
    gap: 10px;
    color: var(--gray-color, #AAA);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}
.Top_Level_Button{  /*VideoPlayer부분 Top_Level_Button */
    display: flex;
    padding: 7x;
    align-items: flex-start;
    justify-content: space-evenly;
}
.Top_Level_Button img{
    display: flex;
    width: 20px;
    height: 20px;
    padding: 0px 5px 0px 5px;
    justify-content: center;
    align-items: center;
}
.Video_Info_Buttons{
    display: flex;
    padding: 10px 6px 10px 0px;
    align-items: flex-start;
    gap: 10px;
    color: var(--white-color, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.Video_Desc{/* primary의 하위 2번 */
    display: flex;
    width: 660px;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    border-bottom: 1px solid #4b4b4b;
}
.Border{ /* primary의 하위 2번 Video-Desc 하위 1번*/
    width: 640px;
    height: 1px;
    flex-shrink: 0;
    background: var(--border-color, #303030);
}
.Video_Desc_in_Video-Desc{/* primary의 하위 2번 Video-Desc 하위 2번 Video-Desc와 이름이 같음*/
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.Video_Desc_in_Video-Desc_in_Video-Desc{/* primary의 하위 2번 Video-Desc 하위 2번 Video-Desc 하위 1번*/
    display: flex;
    width: 640px;
    flex-direction: column;
    justify-content: center;
    padding: 12px 0px 0px 64px;
    align-items: flex-start;
    gap: 10px;
}
.ChrisFisher_text{
    width: 90%;
    color: var(--white-color, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
    margin-top: ;
}

.show_more_text{
    display: flex;
    padding: 8px 0px 15px 64px;
    align-items: flex-start;
    gap: 10px;    
    color: var(--gray-color, #AAA);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;   
}
.Channel_Title{
    display: flex;
    width: 640px;
    height: 60px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.Frame11{
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: space-between;
}
.Channel_profile_pic{
    display: inline-flex;
    align-items: flex-start;
    padding-left: 5px;
    gap: 10px;
}
.User_Avatar{
    display: flex;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
}
.Chanel_Profile_Name{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}
.Channelprofile_name_text{
    color: var(--white-color, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
}
.Channelprofiile_subscribers_text{
    color: var(--gray-color, #AAA);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
}
.Channel_Subscribes_Btn{
    display: flex;
    width: 124px;
    padding: 7px 4px 8px 330px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;    
}
.Subscribers_options_text{
    display: flex;
    padding: 10px 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 2px;
    background: #C00;
    color: var(--white-color, #FFF);

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

}
.Comment {   /* primary의 하위 3번 */
    display: flex;
    padding: 24px 0px 32px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.Short-By{  /* primary의 하위 3번 Comment 하위 1번 */
    width: 226px;
    height: 24px;
}
.Count{/* primary의 하위 3번 Comment 하위 1번 Short-By 하위 1번*/
    display: inline-flex;
    padding: 1px 32px 1px 0px;
    align-items: flex-start;
}
.text_286{
    color: var(--white-color, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
}
.Short_By_in_Short_By{/* primary의 하위 3번 Comment 하위 1번 Short-By 하위 2번*/
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
}
.Icon{ /* primary의 하위 3번 Comment 하위 1번 Short-By 하위 2번 Short_By 하위 1번*/
    display: flex;
    padding: 0px 8px 0px 0px;
    align-items: flex-start;
    gap: 10px; 
}
.text_SORTBY{
    color: var(--white-color, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    text-transform: uppercase;   
}
.Comment_in_Comment{ /* primary의 하위 3번 Comment의 하위 2번*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.Profile_Pic{ /* primary의 하위 3번 Comment의 하위 2번 Comment 하위 1번*/
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
}
.Comment-Area{
    display: flex;
    width: 584px;
    padding: 7px 0px 7px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
#comment_input {
    width: 580px;
    height: 25px;
    background-color: #181818;
    background-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border: 0;
    border-bottom: 1px solid #303030;
    color: white;
}

/* .Comment-Area input {
    width: 100%;
    background-color: transparent;
    height: 24px;
    border-width: 0 0 1px 0;
    border-color: #303030;

    color: #AAA;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.Comment__Area input::placeholder{
    color: #aaa;
    font-size: 16px;
} */

.Comments{ /*primary의 하위 4번*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.Comment_in_Comments{/*primary의 하위 4번 Comments의 하위 1번*/
    display: flex;
    width: 90%;
    padding-bottom: 0px;
    align-items: flex-start;
}
.Profile-Pic{/*primary의 하위 4번 Comments의 하위 1번 Comment의 하위 1번*/
    display: flex;
    padding-right: 0px;
    align-items: flex-start;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;    
}
.Comment_in_Comment_in_Comments{/*primary의 하위 4번 Comments의 하위 1번 Comment의 하위 2번*/
    display: flex;
    width: 544px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}
.Comment_Header {/*primary의 하위 4번 Comments의 하위 1번 Comment의 하위 2번 Comment의 하위 1번 */
    color: var(--white-color, #FFF);
    display: flex;
    gap: 6px;
    align-items: center;
    margin-bottom: 4px;
}

.comment__name{/*primary의 하위 4번 Comments의 하위 1번 Comment의 하위 2번 Comment의 하위 1번 코맨트 단 사람 이름*/
    font-weight: 800;
}

.comment__time{/*primary의 하위 4번 Comments의 하위 1번 Comment의 하위 2번 Comment의 하위 1번 코맨트 단 시간*/
    color: #aaa;
    font-size: 13px;
}

.Comment_Text{/*primary의 하위 4번 Comments의 하위 1번 Comment의 하위 2번 Comment의 하위 2번 */
    display: flex;
    color: var(--white-color, #FFF);
    padding: 2px 0px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.Comment_Toolbar{/*primary의 하위 4번 Comments의 하위 1번 Comment의 하위 2번 Comment의 하위 3번 */
    display: flex;
    padding-top: 4px;
    align-items: flex-start;
    align-self: stretch;
}

.Video_Like {/*primary의 하위 4번 Comments의 하위 1번 Comment의 하위 2번 Comment의 하위 3번 Comment_Toolbar 하위*/
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 10px;
    width: 20px;
    height: 20px;
}
.Video_Like_Text {/*primary의 하위 4번 Comments의 하위 1번 Comment의 하위 2번 Comment의 하위 3번 Comment_Toolbar 하위*/
    font-size: 14px;
    color: #AAA;
    /* 이름, 8 hours ago와의 간격 */
    margin-top: 6px;
    /* 아래 툴박스(좋아요, 싫어요, reply)와의 간격 */
    margin-bottom: 2px;
    line-height: 20px;
}
.Video_Comment_Reply {/*primary의 하위 4번 Comments의 하위 1번 Comment의 하위 2번 Comment의 하위 3번 Comment_Toolbar 하위*/
    display: flex;
    align-items: center;
    color: #AAA;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding: 8px 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.Secondary {  /* video-container의 하위 2번 */
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
}
.Content{/* secondary의 하위 1번 */
    width: 100%;
    height: 10%;
    display: flex;
    padding: 24px 24px 0px 0px;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}


.Top_Menu {   /* secondary의 하위 1번 Content의 하위 1번*/
    display: flex;
    width: 402px;
    padding: 1px 12px 2px 0px;
    align-items: flex-start;
}
.Top_Menu_Item{ /* secondary의 하위 1번 Content의 하위 1번 Top_Menu의 하위 1번 Top-Menu/Item*/
    display: flex;
    padding: 8px 8px 8px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.Top_Menu_Button {/* secondary의 하위 1번 Content의 하위 1번 Top_Menu의 하위 1번 Top-Menu/Item의 하위 1번 .Top-Menu/Button*/
    display: flex;
    padding: 8px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.Video_Top_Menu {
    display: flex;
    flex-direction: row;
}

.Video_Top_Menu_Item button {
    border: 1px solid #aaa;
    font-size: 14px;
    padding: 0 12px;
    line-height: 30px;
    border-radius: 16px;
    margin: 12px 12px 12px 0;
    cursor: pointer;
}

.Top_Menu_Button_text_1{
    background-color: #fff;
    color: #303030;
}

.Top_Menu_Button_text_2{
    background-color: #303030;
    color: #fff;
}

.Videos {   /* secondary의 하위 2번 */
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.Video{ /* secondary의 하위 2번 Videos하위 */
    display: flex;
    padding-top: 8px;
    align-items: flex-start;
}
.Thumbnail {/* secondary의 하위 2번 Videos하위 video하위 1번 */
    display: flex;
    padding-top: 8px;
    align-items: flex-start;
}
.Video-Text {/* secondary의 하위 2번 Videos하위 video하위 2번 */
    display: flex;
    width: 226px;
    padding: 7px 0px;
    flex-direction: column;
    align-items: flex-start;  
}
